@import "./general/general.scss";

.app {
    height: 100%;

    &__container {
        height: 100%;
        background-color: var(--background);
    }

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__divider {
        background-color: var(--background);
    }
}

.main {
    background-color: var(--background);

    &__container {
        @include container;
    }

    &__wrapper {
        margin: 1rem auto;
        width: 100%;
        max-width: 60rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    &__city-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

}

.add-city {
    position: relative;
    border: 2px solid var(--text);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 1px 1px 2px 2px var(--shadow);
    width: 27.5rem;
    height: 10.4rem;
    background-color: var(--shadow);

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 1rem;
    }

    &__wrapper {
        display: flex;
        gap: 0.5rem;
        height: 100%;
    }

    &__title {
        width: 100%;
        background-color: transparent;
        border: unset;
        @include font($fw700, $fs15);
        color: var(--background);
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--text);

        &::placeholder {
            @include font-italic($fw400, $fs15);
            color: var(--text);
            opacity: 0.7;
        }

        &:hover,
        &:focus {
            border-color: var(--background);
        }

    }

    &__btn {
        background-color: var(--background);
        border: 1px solid var(--text);
        border-radius: 0.5rem;
        @include font($fw700, $fs10);
        color: var(--text);
        text-transform: uppercase;
        padding: 0.5rem;

        transition: all 0.3s linear;

        &:hover,
        &:focus {
            border-color: var(--background);
            background-color: var(--text);
            color: var(--background);
        }
    }

    &__errors {
        position: absolute;
        left: 50%;
        bottom: 1rem;
        @include font($fw400, $fs15);
        color: var(--text);
        text-align: center;
        transform: translateX(-50%);
        width: 100%;
    }
}