@import "./general/general.scss";

.footer {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    background-color: var(--background);

    &__container {
        @include container;
    }

    &__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-inline: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1rem 0;
        width: 100%;
        max-width: 60rem;
    }

    &__divider {
        border: 1px solid var(--text);
        width: 100%;
        margin-bottom: 2rem;
    }

    &__content {
        @include font($fw400, $fs10);
        color: var(--text);

        &--colored {
            font-weight: $fw700;
            color: var(--shadow);
            text-transform: uppercase;
        }
    }
}

.footer__content+.footer__content {
    margin-top: 0.5rem;
}